<!DOCTYPE html> <!---- dsps modificar a gusto todo este html-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Correo de Prueba</title>
  <style>
    body {
        font-family: Arial, sans-serif;
    }
    h1 {
        color: #FF0000;
    }
    p {
        font-size: 16px;
    }
  </style>
</head>
<body>
<h1>Hola, <span th:text="${name}">Nombre</span>!</h1><!----sintaxis para poder modificar automaticamente desde codigo--->
<p>HOLAAAAAAAAAAAAAAAAAAAAAAAA.</p><!----cambiar a gusto, solo es test, --->
</body>
</html>
